/* Import MuseoModerno Font From Goggle Fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'MuseoModerno', cursive;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

/* Main Clock UI  */
.clock_ui {
    width: 300px;
    height: 480px;
    background: #fff;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 10px rgba(203, 203, 203, 0.4), 
                -2px 1px 10px rgba(203, 203, 203, 0.4)
}

/* Clock Heading  */
.heading{
    margin-bottom: 25px;
    margin-top: -35px;
    width: 300px;
    background: #c07cf6;
    border-radius: 0 0 100px 100px;
    text-align: center;
}
.heading h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 400;
}

/* Working Analog Clock  */
.analog_clock {
    width: 250px;
    height: 250px;
    background: #fff url(images/clock.png);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analog_clock::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ff69f5;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 99999;
}

.hour, .min, .sec {
    position: absolute;
}

.hour, .hr {
    width: 90px;
    height: 90px;
}

.min, .mn {
    width: 130px;
    height: 130px;
}

.sec, .sc {
    width: 170px;
    height: 170px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
}

.hr::before {
    content: "";
    width: 4px;
    height: 52px;
    background: #c07cf6;
    border-radius: 4px;
    z-index: 10px;
}

.mn::before {
    content: "";
    width: 3px;
    height: 75px;
    background: #00bcd4;
    border-radius: 4px;
    z-index: 11px;
}

.sc::before {
    content: "";
    width: 2px;
    height: 100px;
    background: #ff69f5;
    border-radius: 4px;
    z-index: 12px;
}

/* Digital Clock  */
.digital_clock {
    display: flex;
    margin-top: 50px;
}

.digital_clock div {
    font-size: 28px;
    color: #00BCD4;
}

.digital_clock .ampm {
    font-size: 16px;
}